@grid-size: 300px;

.layout-grid {
  top: 50%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  overflow: auto;
  transform: translateY(-50%);
  transition: 300ms;
  outline: false;

  &.hide {
    opacity: 0;
    transform: translateX(-100%) translateY(-50%);
  }
}

.layout-grid-content {
  padding: 0 100px;
  display: flex;
  flex-wrap: nowrap;
}

.layout-grid-item {
  width: @grid-size;
  height: @grid-size;
  flex-shrink: 0;
  position: relative;

  .item-symbol {
    top: -22px;
    left: 10%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 1;
    position: absolute;

    &::before {
      content: '';
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      border: 5px solid #fff;
      border-radius: 50%;
      // background-color: #000;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      top: 50%;
      left: 60%;
      width: @grid-size + 25px;
      height: 1px;
      background-color: #fff;
      z-index: 1;
      position: absolute;
    }
  }

  .item-content {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    font-size: 30px;
    .flex();
    background-color: @fade-black;
  }

  &:last-child {
    .item-symbol {
      &::after {
        display: none;
      }
    }
  }

  &:focus {
    .item-content {
      background-color: rgba(82, 82, 82, 0.8);
    }
  }

  & + & {
    margin-left: 40px;
  }
}

.layout-grid-ctrl {
  top: ~'calc(50% + 150px + 40px)';
  left: 0;
  min-width: 100vw;
  height: 20px;
  padding: 0 100px;
  padding-left: 140px;
  background-color: @fade-black;
  position: absolute;
  display: flex;
  align-items: center;

  .ctrl-item {
    width: @grid-size;
    display: flex;
    justify-content: flex-end;
  }

  .ctrl-item + .ctrl-item {
    margin-left: 40px;
  }

  .ctrl-item-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
