.layout-form {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10vh 5vw;
  backdrop-filter: blur(10px);
  z-index: 2;
  color: black;
  background-color: @bg-white-fade;
  position: fixed;

  ::-webkit-scrollbar-thumb {
    background: @black;
  }

  input {
    border-color: transparent;
    color: #333;
    background-color: @bg-black-fade;
  }
}

.layout-form-header {
  padding: 0 @space;
  border-bottom: @space / 2 solid #fff;
  box-shadow: 0 20px 20px -20px @black;
  z-index: 1;
  display: flex;
  align-items: center;
  position: relative;

  .header-title {
    height: 50px;
    padding: 0 @space2;
    margin-left: @space;
    background-color: #fff;
    .flex();
  }
}

.layout-form-footer {
  margin: @space2 0;
  display: flex;
  justify-content: flex-end;
  .btn {
    width: 200px;
  }
}

.layout-form-container {
  height: ~'calc(100% - 200px)';
  display: flex;
}

.layout-form-tab {
  margin: @space2;

  .tab-item {
    display: flex;
  }

  .tab-item + .tab-item {
    margin-left: 0;
    margin-top: @space;
  }
}

.layout-form-main {
  padding-left: 10%;
  flex: 1;
  background-color: @fade-white;
  overflow: auto;
  position: relative;
  scroll-snap-type: y;
  scroll-snap-points-y: repeat(100%);
}

.form-wrap {
  // height: 50%;
  scroll-snap-align: start;
}

.form-empty {
  height: 50%;
}

.layout-form-select {
  background-color: transparent;

  label {
    width: 100px;
    height: 100px;
  }

  label + label {
    margin-left: 20px;
  }

  & &::after {
    display: none;
  }
}

.layout-form-options {
  padding-top: @space;

  .option-item {
    height: 40px;
    line-height: 40px;
    padding: 0 @space;
    margin-bottom: @space;
    margin-left: @space;
    border: 1px solid #000;
    display: inline-block;
  }

  .a-icon {
    cursor: pointer;
    &:hover {
      filter: brightness(1.4);
    }
  }
}