*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: 'SourceHanSansSubset';
  src: url('../fonts/SourceHanSerifSubset.woff2');
}
@font-face {
  font-family: 'Bender';
  src: url('../fonts/Bender.woff2');
}
body {
  font-family: SourceHanSansSubset, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
p {
  margin: 0;
}
.iconfont {
  font-size: inherit;
}
