body {
  height: 100vh;
  color: #fff;
  background-color: #333;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
